{# src/Wabbox/LettreBundle/Resources/views/Default/news.html.twig #}

{% extends "WabboxLettreBundle:Default:index.html.twig" %}  
{% block containt %}
<section>
  {% include "WabboxLettreBundle:Default:expediteur.html.twig" %}
  <a href="#" class="button" data-reveal-id="myModal">Modifier</a>
  {% include "WabboxLettreBundle:Default:destinataires.html.twig" %}
</section>
<div id="myModal" class="reveal-modal expand">
  <h2>Modification expéditeur</h2>
  <form action="{{ path('wabbox_lettre_update_expediteur', { 'id': expediteur.id }) }}" method="post" {{ form_enctype(edit_form) }} id="formExpediteur">
    {{ form_widget(edit_form) }}
    <p>
      <button type="submit">Modifier</button>
    </p>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function() {
  $("#buttonForModal").click(function() {
    $("#myModal").reveal();
  });

  $("form").submit(function(){ 
   $.ajax({
    url: $(this).attr('action'),
    type: $(this).attr('method'),
    data: $(this).serialize(),
    dataType: 'json',
    success: function(data) {
      $('#myModal').trigger('reveal:close');
      $('#expediteur_liste').replaceWith(data.expediteurHTML);
    },
    error: function() {
    }
  });
   return false;
 });
});
</script>
{% endblock %}
